.idea/
.run/
.vs/
.vscode/
__pycache__/
actions-runner/
build/
data/*
!data/repos/
data/repos/*
!data/repos/repoconfig-dep5m.json
!data/repos/repoconfig-dep11m.json
!data/repos/repoconfig-dep28m.json
!data/repos/repoconfig-rpm.json
reports/profiling/
reports/figures/
